.header__container {
  display: flex;
  justify-content: center;
  height: 88px;
}
.navigation_container__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1280px;
}
.navigation_container__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation__item {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: #8585AD;
}
.navigation__item__active
{
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
}